<template>
  <div id="controls" class="container">
    <div class="columns">
      <div class="column col-8">
        <div class="form-group">
          <textarea class="form-input" id="informer" cols="50" rows="15"></textarea>
        </div>
      </div>
      <div class="column col-4">
        <label class="form-switch">
          <input type="checkbox" id="on_off" v-model="controls.on_off" v-on:change="setControl($event)">
          <i class="form-icon"></i><span v-if="controls.on_off"> On</span><span v-else> Off</span>
        </label>
        <label class="form-switch">
          <input type="checkbox" id="sense" v-model="controls.sense" v-on:change="setControl($event)">
          <i class="form-icon"></i><span v-if="controls.sense"> Remote Sense On</span><span v-else> Remote Sense Off</span>
        </label>
        <label class="form-switch">
          <input type="checkbox" id="loc_rem" v-model="controls.loc_rem" v-on:change="setControl($event)">
          <i class="form-icon"></i><span v-if="controls.loc_rem"> Remote Control</span><span v-else> Local Control</span>
        </label>
      </div>
    </div>
    <ul class="tab tab-block">
      <li class="tab-item" v-on:click="c_activetab=1" v-bind:class="[ c_activetab === 1 ? 'active' : '' ]">
        <a href="#">Settings</a>
      </li>
      <li class="tab-item" v-on:click="c_activetab=2" v-bind:class="[ c_activetab === 2 ? 'active' : '' ]">
        <a href="#">Parameters</a>
      </li>
      <li class="tab-item" v-on:click="c_activetab=3" v-bind:class="[ c_activetab === 3 ? 'active' : '' ]">
        <a href="#">Calculation</a>
      </li>
      <li class="tab-item" v-on:click="c_activetab=4" v-bind:class="[ c_activetab === 4 ? 'active' : '' ]">
        <a href="#">Create a preset</a>
      </li>
      <li class="tab-item" v-on:click="c_activetab=5" v-bind:class="[ c_activetab === 5 ? 'active' : '' ]">
        <a href="#">View Results</a>
      </li>
    </ul>
    <div>
      <div v-if="c_activetab === 1">
        <div class="form-group">
          <label class="form-label" for="port">Port</label>
          <input class="form-input" id="port" name="port" size=3 type="text" v-model="controls.port" v-on:change="setControl($event)">
        </div>
        <div class="form-group">
          <label class="form-label">Baudrate</label>
          <label class="form-radio form-inline">
            <input type="radio" id="b_4800" name="baud" value=4800 v-model="controls.baudrate" v-on:change="setControl($event)">
            <i class="form-icon"></i> 4800
          </label>
          <label class="form-radio form-inline">
            <input type="radio" id="b_9600" name="baud" value=9600 v-model="controls.baudrate" v-on:change="setControl($event)">
            <i class="form-icon"></i> 9600
          </label>
          <label class="form-radio form-inline">
            <input type="radio" id="b_19200" name="baud" value=19200 v-model="controls.baudrate" v-on:change="setControl($event)">
            <i class="form-icon"></i> 19200
          </label>
          <label class="form-radio form-inline">
            <input type="radio" id="b_38400" name="baud" value=38400 v-model="controls.baudrate" v-on:change="setControl($event)">
            <i class="form-icon"></i> 38400
          </label>
        </div>
        <div class="form-group">
        <label class="form-label">Mode</label>
          <label class="form-radio form-inline">
            <input type="radio" id="cc" name="mode" value="cc" v-model="controls.mode" v-on:change="setControl($event)">
            <i class="form-icon"></i> cc
          </label>
          <label class="form-radio form-inline">
            <input type="radio" id="cv" name="mode" value="cv" v-model="controls.mode" v-on:change="setControl($event)">
            <i class="form-icon"></i> cv
          </label>
          <label class="form-radio form-inline">
            <input type="radio" id="cw" name="mode" value="cw" v-model="controls.mode" v-on:change="setControl($event)">
            <i class="form-icon"></i> cw
          </label>
          <label class="form-radio form-inline">
            <input type="radio" id="cr" name="mode" value="cr" v-model="controls.mode" v-on:change="setControl($event)">
            <i class="form-icon"></i> cr
          </label>
        </div>
      </div>
      <div v-if="c_activetab === 2">
        <div class="columns">
          <div class="column col-6">
            <div class="form-group">
              <label class="form-label" id="lbl_set_cc_current">Set CC Current</label>
              <input class="form-input" id="cc_current" name="cc_current" size=10 type="text" v-model="controls.cc_current" v-on:change="setControl($event)">
            </div>
            <div class="form-group">
              <label class="form-label" id="lbl_set_cv_voltage">Set CV Voltage</label>
              <input class="form-input" id="cv_voltage" name="cv_voltage" size=10 type="text" v-model="controls.cv_voltage" v-on:change="setControl($event)">
            </div>
            <div class="form-group">
              <label class="form-label" id="lbl_set_cw_power">Set CW Power</label>
              <input class="form-input" id="cw_power" name="cw_power" size=10 type="text" v-model="controls.cw_power" v-on:change="setControl($event)">
            </div>
            <div class="form-group">
              <label class="form-label" id="lbl_set_cr_resistance">Set CR Resistance</label>
              <input class="form-input" id="cr_resistance" name="cr_resistance" size=10 type="text" v-model="controls.cr_resistance" v-on:change="setControl($event)">
            </div>
          </div>
          <div class="column col-6">
            <div class="form-group">
              <label class="form-label" id="lbl_set_max_current">Set Max Current</label>
              <input class="form-input" id="max_current" name="max_current" size=10 type="text" v-model="controls.max_current" v-on:change="setControl($event)">
            </div>
            <div class="form-group">
              <label class="form-label" id="lbl_set_max_voltage">Set Max Voltage</label>
              <input class="form-input" id="max_voltage" name="max_voltage" size=10 type="text" v-model="controls.max_voltage" v-on:change="setControl($event)">
            </div>
            <div class="form-group">
              <label class="form-label" id="lbl_set_max_power">Set Max Power</label>
              <input class="form-input" id="max_power" name="max_power" size=10 type="text" v-model="controls.max_power" v-on:change="setControl($event)">
            </div>
          </div>
        </div>
      </div>
      <div v-if="c_activetab === 3">
        <div>
          <div class="form-group d-inline-block">
            <label class="form-label" id="lbl_power_density">Power Density</label>
            <input class="form-input" id="power_density" size=10 type="text" name="power_density" v-model="controls.power_density" v-on:change="setControl($event)">
          </div>
          <div class="form-group d-inline-block">
            <label class="form-radio form-inline">
              <input class="units" type="radio" id="power_density_unit_1" name="unit" value="mW/cm2" v-model="controls.dim_power" v-on:change="setControl($event)">
              <i class="form-icon"></i> mW/cm2
            </label>
            <label class="form-radio form-inline">
              <input class="units" type="radio" id="power_density_unit_2" name="unit" value="W/cm2" v-model="controls.dim_power" v-on:change="setControl($event)">
              <i class="form-icon"></i> W/cm2
            </label>
            <label class="form-radio form-inline">
              <input class="units" type="radio" id="power_density_unit_3" name="unit" value="W/m2" v-model="controls.dim_power" v-on:change="setControl($event)">
              <i class="form-icon"></i> W/m2
            </label>
          </div>
          <div class="form-group d-inline-block"> × </div>
          <div class="form-group d-inline-block">
            <label class="form-label" id="lbl_area">Area of Cell</label>
            <input class="form-input" id="area_of_cell" size=10 type="text" name="area_of_cell" v-model="controls.area_of_cell" v-on:change="setControl($event)">
          </div>
          <div class="form-group d-inline-block">
            <label class="form-radio form-inline">
              <input class="area_units" type="radio" id="area_unit_1" name="area_unit" value="cm2" v-model="controls.dim_area" v-on:change="setControl($event)">
              <i class="form-icon"></i> cm2
            </label>
            <label class="form-radio form-inline">
              <input class="area_units" type="radio" id="area_unit_2" name="area_unit" value="m2" v-model="controls.dim_area" v-on:change="setControl($event)">
              <i class="form-icon"></i> m2
            </label>
          </div>
          <div class="form-group d-inline-block"> = </div>
          <div class="form-group d-inline-block">
            <label class="form-label" id="lbl_power">Power</label>
            <input class="form-input" id="power" size=10 type="text" name="power" readonly="readonly" v-model="power">
          </div>
        </div>
        <div>
          <div class="form-group d-inline-block">
            <label class="form-label" id="lbl_min_value">Min Value (V/A)</label>
            <input class="form-input" id="min_value" size=10 type="text" name="min_value" v-model="controls.min_value" v-on:change="setControl($event)">
          </div>
          <div class="form-group d-inline-block"> + </div>
          <div class="form-group d-inline-block">
            <label class="form-label" id="lbl_factor">U/I Factor</label>
            <input class="form-input" id="factor" size=10 type="text" name="factor" v-model="controls.factor" v-on:change="setControl($event)">
          </div>
          <div class="form-group d-inline-block"> × </div>
          <div class="form-group d-inline-block">
            <label class="form-label" id="lbl_quantity_of_dots">Quantity of Dots</label>
            <input class="form-input" id="quantity_of_dots" size=10 type="text" name="quantity_of_dots" v-model="controls.quantity_of_dots" v-on:change="setControl($event)">
          </div>
          <div class="form-group d-inline-block"> = </div>
          <div class="form-group d-inline-block">
            <label class="form-label" for="max_value" id="lbl_max_value">Max Value</label>
            <input class="form-input" id="max_value" size=10 type="text" name="max_value" readonly="readonly" v-model="max_value">
          </div>
        </div>
        <div>
          <div class="form-group d-inline-block">
            <label class="form-label" id="lbl_time_sleep">Time Sleep</label>
            <input class="form-input" id="time_sleep" size=10 type="text" name="time_sleep" v-model="controls.time_sleep" v-on:change="setControl($event)">
          </div>
        </div>
      </div>
      <div v-if="c_activetab === 4">
        <div class="form-group d-inline-block">
          <label class="form-label" for="preset_name" id="saver_name_label">Preset Name</label>
          <input class="form-input" id="inp_preset_name" size=15 type="text" v-on:change="saveSaver($event)">
        </div>
        <div class="form-group d-inline-block">
          <label class="form-label" for="saver_select" id="saver_select_label">Load Preset</label>
          <select class="form-select" id="saver_select">
            <option value="None">No selected</option>
            <option v-for="saver in savers" v-bind:key="saver" :value="saver" v-on:click="loadSaver($event)">{{ saver }}</option>
          </select>
        </div>
      </div>
      <div v-if="c_activetab === 5">
        <tabs></tabs>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Graphs from './Graphs'

export default {
  name: 'controls',
  components: {
    'graphs': Graphs
  },
  data () {
    return {
      c_activetab: 1,
      power: 0,
      max_value: 0
    }
  },
  computed: mapGetters(['controls', 'savers']),
  methods: {
    saveSaver (event) {
      const targetValue = event.target.value
      this.$store.dispatch('saveSaver', { 'saver_name': targetValue, 'preset': '{}' })
    },
    loadSaver (event) {
      const targetValue = event.target.value
      this.$store.dispatch('loadSaver', { 'saver_name': targetValue, 'preset': '{}' })
    },
    setControl (event) {
      const targetId = event.target.id.toString()
      let dict = { 'port': this.$store.state.controls.port, 'baudrate': this.$store.state.controls.baudrate, 'type': targetId }
      if (['b_4800', 'b_9600', 'b_19200', 'b_38400'].includes(targetId)) {
        dict.type = 'baudrate'
        dict.baudrate = this.$store.state.controls.baudrate
      } else if (['cc', 'cv', 'cw', 'cr'].includes(targetId)) {
        dict.type = 'mode'
        dict.mode = this.$store.state.controls.mode
      } else if ([
        'on_off', 'sense', 'loc_rem', 'cc_current', 'cv_voltage', 'cw_power', 'cr_resistance',
        'max_current', 'max_voltage', 'max_power', 'power_density', 'area_of_cell', 'min_value',
        'factor', 'quantity_of_dots', 'time_sleep'].includes(targetId)) {
        dict.type = targetId
        dict[dict.type] = this.$store.state.controls[dict.type]
      } else if (['power_density_unit_1', 'power_density_unit_2', 'power_density_unit_3'].includes(targetId)) {
        dict.type = 'dim_power'
        dict.dim_power = this.$store.state.controls.dim_power
        dict.dim_area = dict.dim_power.split('/').pop()
        this.$store.state.controls.dim_area = dict.dim_area
      } else if (['area_unit_1', 'area_unit_2'].includes(targetId)) {
        dict.type = 'dim_area'
        dict.dim_area = this.$store.state.controls.dim_area
        dict.dim_power = 'W/' + dict.dim_area
        this.$store.state.controls.dim_power = dict.dim_power
      }
      this.$store.dispatch('setControl', dict)
      if (['min_value', 'factor', 'quantity_of_dots'].includes(targetId)) {
        this.max_value = parseFloat(this.$store.state.controls.min_value) +
        parseFloat(this.$store.state.controls.factor) * parseFloat(this.$store.state.controls.quantity_of_dots)
      } else if (['power_density', 'area_of_cell'].includes(targetId)) {
        this.power = parseFloat(this.$store.state.controls.power_density) *
        parseFloat(this.$store.state.controls.area_of_cell)
      }
    }
  },
  beforeMount () {
    this.$store.dispatch('getControls')
    this.$store.dispatch('getSavers')
  }
}
</script>

<style>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 820px;
  min-width: 420px;
  margin: 40px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  color: #888;
}
</style>
