<template>
  <div id="graphs" class="container">
    <ul class="tab">
      <li class="tab-item" v-on:click="activetab=6" v-bind:class="[ activetab === 6 ? 'active' : '' ]">
        <a href="#">Save / Load</a>
      </li>
      <li class="tab-item" v-on:click="activetab=7" v-bind:class="[ activetab === 7 ? 'active' : '' ]">
        <a href="#">View Chart</a>
      </li>
    </ul>
    <div>
      <div class="columns" v-if="activetab === 6">
        <div class="column col-4">
          <div class="form-group">
            <label class="form-label" for="solar_exp_name" id="solar_exp_name_label">Experiment name</label>
            <input class="form-input" id="solar_exp_name" size=15 type="text" v-on:change="createExp($event)">
          </div>
        </div>
        <div class="column col-4">
          <div class="form-group">
              <label class="form-label" for="result_name" id="result_name_label">Show chart</label>
            <div class="dropdown">
              <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">
                Show experiment <i class="icon icon-caret"></i>
              </a>
              <ul class="menu">
                <li class="experiment menu-item" v-for="(re, ex) in experiments" v-bind:key="ex" :title="re"><a href="#" v-on:click="getExperiment($event)">{{ ex }}</a>
                  <div class="dropdown">
                    <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">
                      Show results <i class="icon icon-caret"></i>
                    </a>
                    <ul class="menu">
                      <li class="menu-item" v-for="(res, exp) in re" v-bind:key="exp" :title="exp"><a href="#" v-on:click="getResult($event)">{{ res }}</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="column col-4">
          <div class="form-group">
            <label class="form-label" for="result_filter" id="result_filter_label">Result filter</label>
            <input class="form-input" id="result_filter" size=25 type="text">
          </div>
        </div>
      </div>
      <div v-if="activetab === 7">
        <scatter-chart :data="result_data" xtitle="I, A" ytitle="U, V"></scatter-chart>
        <scatter-chart :data="exp_data" xtitle="I, A" ytitle="U, V"></scatter-chart>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Vue from 'vue'
import VueChartkick from 'vue-chartkick'
import Chart from 'chart.js'

Vue.use(VueChartkick, {adapter: Chart})

export default {
  name: 'graphs',
  data () {
    return {
      activetab: 6
    }
  },
  computed: mapGetters(['experiments', 'result_data', 'exp_data']),
  methods: {
    createExp (event) {
      const targetValue = event.target.value
      this.$store.dispatch('createExp', { 'solar_exp_name': targetValue })
    },
    getResult (event) {
      const targetValue = event.target.innerHTML
      this.$store.dispatch('getResult', { 'result_name': targetValue, 'data_for_graph': '{}' })
    },
    getExperiment (event) {
      const targetValue = event.target.innerHTML
      this.$store.dispatch('getExperiment', { 'solar_exp_name': targetValue })
    }
  },
  beforeMount () {
    this.$store.dispatch('getExperiments')
  }
}
</script>

<style>
</style>
