<template>
  <div id="app">
    <controls></controls>
  </div>
</template>

<script>
import Controls from './components/Controls'

export default {
  name: 'app',
  components: {
    'controls': Controls
  }
}
</script>

<style>
</style>
